.calculator {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: grid; /* Adicionando display grid */
  grid-template-columns: repeat(4, 1fr); /* 4 colunas com largura igual */
  grid-gap: 5px; /* Espaçamento entre os elementos */
}
.calculator input[type="button"] {
  width: 64px;
  height: 64px;
  font-size: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}
.calculator #calculator-display {
  grid-column: span 4; /* O visor ocupa 4 colunas */
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 24px;
  text-align: right;
}